<div class="">
  <img src="<%= image_url "webpay-security.png" %>" alt="Webpay" class="responsive-img">
</div>
<p>
  <%= Spree.t(:webpay_redirect) %>
</p>
<% unless Rails.env.production? || Rails.env.staging? %>
  Parámetros a enviar a CGI pagos:
  <dl>
	<dt>TBK_TIPO_TRANSACCION: </dt>
  	<dd>TR_NORMAL</dd>

  	<dt>TBK_ORDEN_COMPRA: </dt>
  	<dd><%= @order.number %></dd>

    <dt>TBK_ID_SESION</dt>
    <dd><%= params[:state] == 'confirm' ? @order.payments.valid.last.try(:webpay_trx_id) : @order.dummy_webpay_trx_id %></dd>

  	<dt>TBK_MONTO: </dt>
  	<dd><%= @order.webpay_amount %></dd>

  	<dt>TBK_URL_FRACASO</dt>
  	<dd><%= webpay_failure_url(:protocol => "http") %></dd>

  	<dt>TBK_URL_EXITO</dt>
  	<dd><%= webpay_success_url(:protocol => "http") %></dd>
  </dl>
<% end %>

<% if Rails.env.development? %>
  <%= link_to 'MAKER', webpay_maker_path, class: 'btn btn-info btn-block', target: :blank %>
<% end %>
