<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<!-- NAME: 2:1:2 COLUMN - BANDED -->
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>KTM Shop | Confirmación del pedido #R577936166</title>

	<style type="text/css">
    .mailKtm {
      font-family: 'Arial Narrow';
      width: 819px;
      text-align: center;
    }
    .mailKtm h4{
      font-family: 'Arial';
      color: #888888;
      font-size: 28px;
      text-align: center;
      padding-top: 20px;
      border-top: 1px dashed #DDDDDD;
    }
    .mailKtm h5 {
      font-family: 'Arial';
      color: #4F4F4F;
      font-size: 26px;
      width: 580px;
      margin: 0 auto;
      text-align: center;
    }
    .mailKtm h6 {
      color: #ff6600;
      font-size: 23px;
      font-family: 'Arial Narrow';
      border-bottom: 1px dashed #DDDDDD;
      line-height: 1.5;
      padding-bottom: 15px;
      text-align: center;
      margin-bottom: 20px;
    }
    .mailKtm p {
      text-align: center;
      color: #777777;
      font-size: 21px;
    }
    .mailKtm .striped{
      width: 580px;
      margin: 0 auto;
      letter-spacing: 1px;
      font-size: 16px;
      color: #4C4C4C;
    }
    .mailKtm .bottomContact{
      width: 580px;
      margin: 40px auto 0 auto;
    }

    .mailKtm .bottomContact td{
      padding: 0;
    }

    .mailKtm .bottomContact a{
      display: inline-block;
      margin: 0 20px 0 0;
    }

    .mailKtm .footerMailer {
      width: 100%;
      background: #5B5B5B;
    }
  </style>

<body>
    <center>
      <table class="mailKtm">
          <tbody><tr>
            <td align="center" valign="top">
              <center>
                <table>
                  <tbody><tr>
                    <td valign="top">
                      <table>
                        <tbody><tr>
                          <td valign="top">
                            <table>
                              <tbody><tr>
                                 <td valign="top">
                                    <table style="">
                                      <tbody>
                                        <tr>
                                          <td valign="top">
                                            <img src="<%= image_url "logo-trs.png" %>" alt="Roland Spaarwater Ltda" title="Roland Spaarwater Ltda">
                                              <h5>
                                                Estimado Cliente
                                              </h5>
                                              <p>
                                                Por favor, revisa y conserva la siguiente información del pedido de tus registros.
                                              </p>
                                              <h6>
                                                Resumen del pedido
                                                <br>
                                                N° R8908099
                                              </h6>
                                              <table class="striped">
                                                  <tbody><tr>
                                                    <td valign="top">ROR-00016</td>
                                                    <td valign="top">
                                                      Ruby on Rails Stein
                                                                  </td>
                                                    <td valign="top">(1) @ $16,99 = $16,99</td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top"></td>
                                                    <td valign="top">
                                                      <span title="translation missing: es.spree.order_mailer.confirm_email.subtotal">Subtotal</span>
                                                    </td>
                                                    <td valign="top">
                                                      $16,99
                                                    </td>
                                                  </tr>
                                                    <tr>
                                                      <td valign="top"></td>
                                                      <td valign="top">Envío UPS Ground (USD):</td>
                                                      <td valign="top">$5,00</td>
                                                    </tr>
                                                  <tr>
                                                    <td valign="top"></td>
                                                    <td valign="top">
                                                      <span title="translation missing: es.spree.order_mailer.confirm_email.total">Total</span>
                                                    </td>
                                                    <td valign="top">
                                                      $21,99
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <h4>¡Gracias por su Compra!</h4>
                                              <table class="bottomContact">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                        <a href="https://www.facebook.com/KTMChile/?fref=ts"><img align="left" class="social" src="<%= image_url "facebook.png" %>" alt="Síguenos en Facebook" /></a>
                                                        <a href="https://twitter.com/KTMChile"><img align="left" class="social" src="<%= image_url "twitter.png" %>" alt="Síguenos en Twitter" /></a>
                                                        <a href="https://www.youtube.com/user/ktm"><img align="left" class="social" src="<%= image_url "youtube.png" %>" alt="Síguenos en YouTube" /></a>
                                                    </td>
                                                    <td >
                                                      <img align="right" width="145" class="ktmBottom" src="<%= image_url "ktm_home.png" %>" alt="KTM">
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table class="footerMailer">
                                                <tbody>
                                                  <tr>
                                                    <td>  <img align="center" src="<%= image_url "logo-roland.png" %>" alt="Roland Spaarwater"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                   </td>
                                  <td valign="top"></td>
                                </tr>
                              </tbody>
                            </table>
                            </td>
                          </tr>
                        </tbody>
                       </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
</body>
