<% content_for :splash do %>
  <section>
    <div class="parallax-container section scrollspy titlePage" id="top">
      <div class="overlay"></div>
      <ul class="categoriesGral">
        <li><a href="#contacto"><h2>CONTACTO</h2></a></li>
      </ul>
       <img class="ktmBottom" src="<%= image_url "ktm_home.png" %>" alt="KTM">
       <div class="parallax"><%= image_tag "bg-parallax.jpg" %></div>
   </div>
  </section>
<% end %>

<div class="container">
  <div class="row contact">

    <%= form_for(@contact) do |f| %>

      <div class="row">
        <div class="input-field col s6">
          <%= f.label(:nombre, 'Nombre') %>
          <%= f.text_field :nombre, required: true %>
        </div>

        <div class="input-field col s6">
          <%= f.label(:apellido, 'Apellido') %>
          <%= f.text_field :apellido, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.text_field :email, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label(:mensaje, 'Mensaje') %>
          <%= f.text_area :mensaje, class: 'materialize-textarea', required: true %>
        </div>
      </div>

      <%= f.button(type: 'submit', class: 'btn waves-effect waves-light') do %>
        Enviar<i class="material-icons right">send</i>
      <% end %>

    <% end %>
  </div>
</div>
